.overlay {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    padding: 7% 7%;
}


.fonts {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
    font-size: 3.2rem;
    line-height: 1.15;
}

.text {
    width: 40rem;
}

.headp {
    font-size: 6rem;
}